<html>
    <head>
<title>Sidney's Corner</title>
    </head>
<header> 
	<div id="topbar">
	 	<div class="logo">
			Sidney's E-commerce Blog.
		</div>
		<nav>
			<ul>
				<li> Home </li>
				<li> About </li>
				<li> Contact </li>
			</ul>
		</nav>
	</div>
</header>

<div class="box">
	<div class="blog-post">
		<div class="blog-heading">
			Greatness.
		</div>
		<div class="blog-body">
			“To achieve greatness one should live as if they will never die.” —Francois de La Rochefoucauld.
			<p>
			 	Greatness is not something given, it is something earned. It sets someone apart from the rest, apart from what people call normal. Greatness can symbolize who someone is, by a person simply by performing whatever makes them great. There are no standards on what can be called great; our imagination leaves us with endless possibilities..
			</p>
		</div>
	</div>
{% for post in posts %}
	<div class="link-body">
                      facebook
		<a href="https://www.facebook.com/">link</a>
                      Instagram
		<a href="https://www.instagram.com/">link</a>
	</div>
{% endfor %}
        <div class="blog-Ending">
1. Authentic

Be genuine and reliable, trustworthy, and always the same person.
2. Brave

Develop courage in the face of risks--and bad outcomes.
3. Character-driven

Character resonates with people and impels them to follow and trust.
4. Decisive

Determination and daring make great leaders unshakeable.
5. Engaging

Connect with enthusiasm, empowerment and encouragement; remember that everyone can make a positive contribution.
6. Fearless

If you are brave in your thinking and daring in your actions, you can accomplish anything.
7. Goal-oriented

Goals provide governance to vision and mission, guiding people and organizations to a meaningful purpose.
8. Humble

Leadership with humility means service to others, ownership of your own mistakes and failures, and openness to learning.
9. Inspiring

Leading with intuition and intelligence gives everyone around you room to grow.
10. Just

Always seek to be guided by truth and reason; be a champion of equality and fairness.
11. Knowledgeable

Be so well informed, learned, and cultivated that people are drawn to you for their own enlightenment.
12. Listener

Good leaders speak; great leaders listen. When you're listening to others, you're learning from them.
13. Motivating

Mentor and encourage those around you. Inspire them to take chances.
14. Noble

To be a great leader, live in a way that draws others to emulate you.
15. Optimistic

To lead with optimism is to be confident, cheerful and positive, leading to openness and opportunity for all.
16. Progressive

Keep moving, increasing and growing, and pioneering new frontiers. Those around you will gain energy from being part of a dynamic enterprise.
17. Qualitative

Always choose quality over quantity; hold yourself and those around you to the highest standard.
18. Reliable

Show people they can count on you in good times and bad by living up to your word. Be dependable and consistent.
19. Supportive

When you're encouraging, caring and sympathetic and helpful, offering feedback both positive and negative, you give those around you the confidence they need to persist.
20. Trustworthy

People are reassured by dependability, reliability, credibility and competence. Have faith in those you're leading, and they will have faith in you.
21. Unbiased

Be impartial and open-minded; hold to the value of listening, learning, giving chances and being open to opinions.
22. Visionary

Be innovative, imaginative, and perceptive. What differentiates great leaders from the rest is they not only have plenty of ideas but also commit to carrying them out.
23. Wise

Wisdom in leadership is more than just being wise--it's using that wisdom to give insight and inspiration to others.
24. Xcellent (with apologies for the liberty in spelling)

Aim for distinction and virtuosity, motivate yourself to always give your highest quality effort.
25. Yearning

One test of a true leader is a constant longing and hunger. Always be looking to be more, do more and make a difference in a big way.
26. Zealous

A devout drive to be dedicated to something bigger than yourself fuels a fierce passion to be help others be successful. Embrace that intensity and put it to work to better the world.

When you embrace these attributes from A to Z, you walk the path of great leadership. Begin now and see where you end up.
</div>
</div>
</html>
